{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}عرض الجميع  المستخدمين{% endblock %}

{% block content %}

<div class="pt-4">
    <div style="background-color: white; border-radius: 18px;">
        <div class="container-fluid attendence-tab-head d-flex align-items-center py-3"
            style="background-color: #4365D0; border-radius: 18px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
            <h5 class="me-3 mb-0 text-white"> عرض الجميع  المستخدمين </h5>
        </div>
        <div class="attendence-table container-fluid" style="overflow-x:auto;">
            <table class="table table-hover table-borderless" id="userFormTable">
                <thead>
                    <tr class="py-1" style="border-bottom: 1px solid #C5CEDF;">
                        <th scope="col" class="" style="padding: 1rem 0.5rem;">المعرف
                        </th>
                        <th scope="col" style="padding: 1rem 0.5rem;">الاسم الأول</th>
                        <th scope="col" style="padding: 1rem 0.5rem;">اسم العائلة</th>
                        <th scope="col" style="padding: 1rem 0.5rem;">اسم المستخدم</th>
                        <th scope="col" style="padding: 1rem 0.5rem;">العنوان</th>
                        <th scope="col" style="padding: 1rem 0.5rem;">رقم الهاتف المحمول</th>
                        <th scope="col" style="padding: 1rem 0.5rem;">مجموعة المستخدمين</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        let data_url = '/user_form_api';

        $.ajax({
            url: data_url,
            type: 'GET',
            success: function (response) {
                let requests = response.data;
                let tbody = $('#userFormTable tbody');

                requests.forEach(function (request) {
                    let groupNames = request.groups.map(group => group.name).join(', ');
                    let row = `<tr>
                        <td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.id}</a></td>
                        <td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.first_name}</a></td>
                        <td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.last_name}</a></td>
                        <td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.username}</a></td>
                        <td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.email}</a></td>`;
                
                    // Check if request.number exists
                    if (request.number) {
                        // If request.number exists, append it to the row
                        row += `<td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${request.number}</a></td>`;
                    }
                    else {
                        row += `<td></td>`; 
                    }
                    
                    row += `<td><a href="/{{request.LANGUAGE_CODE}}/user/${request.id}/">${groupNames}</a></td>
                    </tr>`;
                    tbody.append(row);
                });
                
                
                $('#userFormTable').DataTable(
                    {
                    dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5',

                        'csvHtml5',
                        'excelHtml5'
                    ],
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                  
                    language: {
                        url: '{% static 'jquery/jquery-datatables-arabic.json' %}',
                    },
                  
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error);
            }
        });
    });
</script>
{% endblock %}