{% extends 'base.html' %}
{% load static %}


{% block title %} لوحة التحكم {% endblock %}

{% block content %}
<div class="pt-4">
    <div class="container">
    </div>
    <div class="dashboard-content">
        <div class="heading">
            <p> Welcome Back, <span class="text-capitalize"> {{request.user.username}}!</span></p>
            <h4> Dashboard</h4>
        </div>
        <pre>

























        </pre>

    </div>
</div>
{% endblock %}