{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Update" %} {% trans "Vehicle" %} {% trans "Failure" %}{% endblock %}

{% block content %}

<div class="pt-4">

    <div class="tab-content user_management-content" id="pills-tabContent">
        <!-- Request Form -->
        <div class="tab-pane fade show active" id="pills-role" role="tabpanel" aria-labelledby="pills-role-tab">
            <form id="request_form" action="#" method="post">
                {% csrf_token %}

                <div class="employee-sheet-content custom-container bg-white pt-4" style="border-radius: 15px;">


                    <input type="hidden" name="created_request_id_name" id="created_request_id">
                    <h2 class="container-fluid" style="font-weight: bold; color: #0A1629; font-size: 24px;"> {% trans "Update" %} {% trans "Vehicle" %} {% trans "Failure" %}</h2>
                    <hr>

                    <div class="container-fluid">

            <div class="row pb-1">
                            <div class="col-md-5">
                                <div class="mb-3">
            <label for="employee_duty" class="form-label pb-1">{% trans "Employees" %}:</label>

        <div class="dropdown">
        <input value="{{employee.username}}" type="text" class="form-control py-2" id="employee_duty" name="employee_duty" placeholder="Select Employee" style="border-radius: 13px; background: transparent;" required readonly>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" style="cursor: pointer;" onclick="updateInput('{{employee.username}}', 'employee_duty', 'request_employee_id', '{{employee.id}}')"> {{employee.username}}</li>

        <input value="{{employee.id}}" type="hidden" id="request_employee_id" name="request_employee_id"> </ul>
        </div>
    </div>

    </div>
    <div class="col-md-5">
    <div class="mb-3">
    <label for="request_clients" class="form-label pb-1">{% trans "Case" %} {% trans "City" %}:</label>

    <div class="dropdown">
    <input value="{{vehicle_failure.case_city.name}} " type="text" class="form-control py-2" id="request_clients" name="request_clients" placeholder="{% trans " City" %}" style="border-radius: 13px; background: transparent;" required readonly>
    <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z" fill="#0A1629" />
    </svg>
    <ul id="client-ul" class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton">
    <input class="w-100 dropdown-item" type="text" id="client-Input" placeholder="{% trans 'Search' %}" style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
    {% for worklocation in worklocations %}
    <li class="dropdown-item" style="cursor: pointer;"
    onclick="updateInput('{{worklocation.name}}', 'request_clients', 'request_worklocation_id', '{{worklocation.id}}')">
     {{worklocation.name}} </li>
    {% endfor %}

    <input value="{{vehicle_failure.case_city.id}}" type="hidden" id="request_worklocation_id" name="request_worklocation_id">
                                        </ul>
                                    </div>


                                </div>

                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="request_duty" class="form-label pb-1">{% trans "Duty" %}:</label>

                                    <div class="dropdown">
                                        <input value="{{vehicle_failure.duty.title}}" type="text" class="form-control py-2" id="request_duty"
                                            name="request_duty" placeholder="{% trans " Duty" %}"
                                            style="border-radius: 13px; background: transparent;" required readonly>
                                        <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 30 30" fill="none"
                                            style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                                fill="#0A1629" />
                                        </svg>
     <ul id="duty-ul" class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton">
    <input class="w-100 dropdown-item" type="text" id="duty-Input" placeholder="{% trans 'Search' %}" style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
                                            {% for duty in dutys %}
    <li class="dropdown-item" style="cursor: pointer;" onclick="updateInput('{{duty.title}}', 'request_duty', 'request_duty_id', '{{duty.id}}')">
                                                {{duty.title}}
                                            </li>
                                            {% endfor %}

                                            <input value="{{vehicle_failure.duty.id}}" type="hidden" id="request_duty_id" name="request_duty_id">
                                        </ul>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="mb-2">
                                    <label for="request_corresponding_id" class="form-label pb-1"
                                        style="font-weight: bold; color: #7D8592;">{% trans "Employee Routine" %}:</label>

                                    <div class="dropdown">
                                        <input value="{{routine}}" type="text" class="form-control py-2"
                                            id="request_corresponding_id" name="request_corresponding_id" placeholder="112233"
                                            style="border-radius: 13px; background: transparent;" required readonly>
                                        <input value="{{routine.id}}" type="hidden" class="form-control py-2"
                                            id="employee_routine_id" name="employee_routine_id" placeholder="112233"
                                            style="border-radius: 13px; background: transparent;" required readonly>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="cases_company" class="form-label pb-1">{% trans "Company" %}:</label>

                                    <div class="dropdown">
    <input value="{{vehicle_failure.company.name}}" type="text" class="form-control py-2" id="cases_company" name="cases_company" placeholder="{% trans " Company" %}" style="border-radius: 13px; background: transparent;" required readonly>
                                        <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 30 30" fill="none"
                                            style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                                fill="#0A1629" />
                                        </svg>
                                        <ul id="company-ul" class="dropdown-menu pt-0"
                                            aria-labelledby="dropdownMenuButton">
     <input class="w-100 dropdown-item" type="text" id="company-Input" placeholder="{% trans 'Search' %}" style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
                                            {% for company in companys %}
                                            <li class="dropdown-item" style="cursor: pointer;"
                                                onclick="updateInput('{{company.name}}', 'cases_company', 'cases_company_id', '{{company.id}}')">
                                                {{company.name}}
                                            </li>
                                            {% endfor %}

                                            <input value="{{vehicle_failure.company.id}}" type="hidden" id="cases_company_id" name="cases_company_id">
                                        </ul>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="routine_routine" class="form-label pb-1">{% trans 'Groups' %}:</label>

                                    <div class="dropdown">
                                        <input value="{{group.name}}" type="text" class="form-control py-2"
                                            id="routine_routine" name="routine_routine"
                                            placeholder="{% trans 'Groups' %}"
                                            style="border-radius: 13px; background: transparent;" required readonly>
                                        <!-- <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 30 30" fill="none"
                                            style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                                fill="#0A1629" />
                                        </svg> -->
                                        <ul id="department-ul" class="dropdown-menu pt-0"
                                            aria-labelledby="dropdownMenuButton">
                                            <input class="w-100 dropdown-item" type="text" id="department-Input"
                                                placeholder="{% trans 'Search' %}"
                                                style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
                                            <li class="dropdown-item" style="cursor: pointer;"
                                                onclick="updateInput('{{group.name}}', 'routine_routine', 'employee_department_id', '{{group.id}}')">
                                                {{group.name}}
                                            </li>

                                            <input value="{{group.id}}" type="hidden" id="cases_group_id"
                                                name="cases_group_id">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row pb-1">
                            <div class="col-md-10">
                                <div class="mb-3">
                                    <label for="cases_actions" class="form-label pb-1">{% trans "Vehicle" %}:</label>

                                    <div class="dropdown">
                                        <input value="{{vehicle_failure.vehicle.name}}" type="text" class="form-control py-2" id="cases_actions"
                                            name="cases_actions" placeholder=" {% trans "Vehicle" %}"
                                            style="border-radius: 13px; background: transparent;" required readonly>
                                        <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 30 30" fill="none"
                                            style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                                fill="#0A1629" />
                                        </svg>


                                        <ul id="request_reason_ul" class="dropdown-menu pt-0"
                                            aria-labelledby="dropdownMenuButton">
    <input class="w-100 dropdown-item" type="text" id="request-reason-Input" placeholder="{% trans 'Search' %}" style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
                                            {% for vehicle in vehicles %}
                                            <li class="dropdown-item" style="cursor: pointer;"
                                                onclick="updateInput('{{vehicle.name}}', 'cases_actions', 'case_action_id', '{{vehicle.id}}')">
                                                {{vehicle.name}}
                                            </li>
                                            {% endfor %}

                                            <input value="{{vehicle_failure.vehicle.id}}" type="hidden" id="case_action_id" name="case_action_id">
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row pb-1">
                            <div class="col-md-5">
                                <div class="w-100">
                                <p class="form-label pb-1" style="margin-bottom: 0.5rem;" for="">{% trans "Type" %}:
                                </p>
                                <select class="col-md-12 py-2 px-2" name="status" id="edit_request_status" style="border-radius: 13px; border:1px solid #ced4da;">
                                <option class="form-control py-2" value="{% trans "Accident" %}">{% trans "Accident" %}</option>
                                <option class="form-control py-2" value="{% trans 'Failure' %}">{% trans 'Failure' %}</option>
                                <option class="form-control py-2" value="{% trans 'Other' %}">{% trans 'Other' %}</option>
                                </select>
                                </div>
                                </div>

                            <div class="col-md-5">
                                <div class="mb-2">
                                    <label for="report_no" class="form-label pb-1" style="font-weight: bold; color: #7D8592;">{% trans "Report" %}:</label>


                                    <div class="dropdown">

    <input value="{{vehicle_failure.report_number}}" type="text" class="form-control py-2" id="report_no" name="report_no" placeholder="{% trans "Report" %}" style="border-radius: 13px;" required>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
    <div class="row pb-1">
                            <div class="col-md-10">
                                <div class="mb-2">
                                    <label for="case_comment" class="form-label pb-1"
                                        style="font-weight: bold; color: #7D8592;">{% trans "Details" %}:</label>

                          <textarea class="form-control py-2" id="case_comment" rows="4" name="case_comment" placeholder="{% trans " Details" %}" style="border-radius: 13px;" required>{{vehicle_failure.details}}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                        <div class="container-fluid">
                        <div class="button" style="padding-top: 5rem;">
                            <input data-bs-toggle="modal" data-bs-target="#submitModal" class="btn btn-primary"
                                type="button" value="{% trans 'Save' %}"
                                style="width: 158px; height: 44px; border-radius: 16px; background-color: #4365D0; box-shadow: 0px 6px 12px 0px #3F8CFF43;">
                        </div>
                    </div>

                        
                    <div class="container-fluid">
                        <div class="mt-4">
                            <p class="text-bold" id="error_message" style="font-weight: bold; color: red;"></p>

                            <p class="text-bold" id="success_message" style="font-weight: bold; color: green; display: none;">{% trans 'Vehicle Failure updated successfully' %}</p>
                        </div>

                        <!-- Confirmation Popup -->
                        <div id="submitSucessModal">
                            <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Confirmation Message' %}</h5>
                                            <button id="request-form-btn" type="button"
                                                class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <p> {% trans "Are You Sure Want to Submit this?" %}</p>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
    <button type="submit" class="btn btn-primary" id="submitReview">{% trans 'Save' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Request Method Modal -->
        <form id="request_method_modal" action="#" method="post">
            {% csrf_token %}
            <div class="modal fade" id="methodmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Create" %} {% trans "Request
                                Method" %}
                            </h5>
                            <button type="button" class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}"
                                id="request_method_close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="note_name">{% trans "Name" %}:</label>
                                <input type="text" name="request_method_name" class="form-control"
                                    id="request_method_name" required>
                                <p class="text-bold block mt-3" id="request_method_error_message"
                                    style="font-weight: bold; color: red;"></p>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnCloseRequestMethod" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% trans 'Close' %}</button>
                            <button type="submit" class="btn btn-primary" id="submitReview">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Request Reason Reason -->
        <form id="request_reason_modal" action="#" method="post">
            {% csrf_token %}
            <div class="modal fade" id="reasonmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Create" %} {% trans "Case" %} {%
                                trans "Description" %}
                            </h5>
                            <button id="request_reason_close_btn" type="button"
                                class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="case_description_name">{% trans "Name" %}:</label>
                                <input type="text" name="case_description_name" class="form-control"
                                    id="case_description_name" required>
                                <p class="text-bold block mt-3" id="request_reason_error_message"
                                    style="font-weight: bold; color: red;"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'
                                %}</button>
                            <button type="submit" class="btn btn-primary" id="submitReview">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Request Note Modal -->
        <form id="request_note_modal" action="#" method="post">
            {% csrf_token %}
            <div class="modal fade" id="notemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Create" %} {% trans "Request Note"
                                %}
                            </h5>
                            <button id="request_note_close_btn" type="button"
                                class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="note_name">{% trans "Name" %}:</label>
                                <input type="text" name="note_name" class="form-control" id="note_name" required>
                                <input id="note_user" type="hidden" value="{{request.user.id}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'
                                %}</button>
                            <button type="submit" class="btn btn-primary" id="submitReview">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Company Guard Modal -->
        <form id="company_guard_modal" action="#" method="post">
            {% csrf_token %}
            <div class="modal fade" id="guardmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Create" %} {% trans "Company" %} {%
                                trans "Guard" %}
                            </h5>
                            <button id="company_guard_close_btn" type="button"
                                class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="guard_name" class="form-label pb-1">{% trans "Name" %}:</label>
                                <input type="text" name="guard_name" class="form-control mb-3" id="guard_name" required>
                                <label class="form-label pb-1" for="guard_nationality">{% trans "Nationality"
                                    %}:</label>
                                <input type="text" name="guard_nationality" class="form-control mb-3"
                                    id="guard_nationality" required>
                                <input id="note_user" type="hidden" value=" {{request.user.id}}">
                                <div class="mb-3" bis_skin_checked="1">
                                    <label for="guard_company" class="form-label pb-1">{% trans 'Company' %}:</label>

                                    <div class="dropdown" bis_skin_checked="1">
                                        <input type="text" class="form-control py-2" id="guard_company"
                                            name="guard_company" placeholder="Company"
                                            style="border-radius: 13px; background: transparent;" required=""
                                            readonly="">

                                        <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 30 30" fill="none"
                                            style="position: absolute; right: 6px;  top: 7px; cursor: pointer;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                                fill="#0A1629"></path>
                                        </svg>
                                        <ul id="guard-company-ul" class="dropdown-menu pt-0"
                                            aria-labelledby="dropdownMenuButton">
                                            <input class="w-100 dropdown-item" type="text" id="guard-company-Input"
                                                placeholder="Search"
                                                style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">

                                            {% for company in companys %}
                                            <li class="dropdown-item" style="cursor: pointer;"
                                                onclick="updateInput('{{company.name}}', 'guard_company', 'guard_company_id', '{{company.id}}')">
                                                {{company.name}}
                                            </li>
                                            {% endfor %}

                                            <input type="hidden" id="guard_company_id" name="guard_company_id">
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close'
                                %}</button>
                            <button type="submit" class="btn btn-primary" id="submitReview">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script>
    function updateInput(role, first_input, second_input, id) {
        document.getElementById(first_input).value = role;
        document.getElementById(second_input).value = id;
    }
</script>

{% endblock %}

{% block script %}
<script>
    // Company Cases

    $("#request_form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/vehicle_failures_api/{{vehicle_failure.id}}/",
            type: 'PUT',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                employee: document.getElementById('request_employee_id').value,
                case_city: document.getElementById('request_worklocation_id').value,
                group: document.getElementById('cases_group_id').value,
                report_number: document.getElementById('report_no').value,
                company: document.getElementById('cases_company_id').value,
                employee_routine: document.getElementById('employee_routine_id').value,
                type: document.getElementById('edit_request_status').value,
                vehicle: document.getElementById('case_action_id').value,
                details: document.getElementById('case_comment').value,
                duty: document.getElementById('request_duty_id').value,
            },
            success: function (response) {
                console.log(response);
                document.getElementById('success_message').style.display = "block";
                document.getElementById('error_message').style.display = "none";
                $('#request-form-btn').trigger("click")
            },
            error: function (error) {
                document.getElementById('error_message').style.display = "block";
                document.getElementById('error_message').innerHTML = error.responseText;
                document.getElementById('success_message').style.display = "none";
                $('#request-form-btn').trigger("click")
                console.log(error);
            }
        });
        return false;
    });

    // Request Form Modal
    $("#request_method_modal").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/request_method_api",
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: document.getElementById('request_method_name').value
            },
            success: function (response) {
                $('#request_method_ul').append(`<li class="dropdown-item" style="cursor: pointer;"
    onclick="updateInput('${response.name}', 'request_method', 'request_method_id', '${response.id}')"> ${response.name}
</li>`);
                document.getElementById('request_method').value = response.name;
                document.getElementById('request_method_id').value = response.id;
                $("#request_method_close_btn").trigger("click");
                console.log(response);
            },
            error: function (error) {
                document.getElementById('request_method_error_message').innerHTML = error.responseText;
                console.log(error);
            }
        });
        return false;
    });

    // Request Reason Modal
    $("#request_reason_modal").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/cases_descrption_api",
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: document.getElementById('case_description_name').value
            },
            success: function (response) {
                $('#request_reason_ul').append(`<li class="dropdown-item" style="cursor: pointer;"
    onclick="updateInput('${response.name}', 'request_reason', 'request_reason_id', '${response.id}')"> ${response.name}
</li>`);
                document.getElementById('request_reason').value = response.name;
                document.getElementById('case_description_id').value = response.id;
                $("#request_reason_close_btn").trigger("click");
                console.log(response);
            },
            error: function (error) {
                document.getElementById('request_reason_error_message').innerHTML = error.responseText;
                console.log(error);
            }
        });
        return false;
    });

    // Request Note Modal
    $("#request_note_modal").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/request_note_api",
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                created_by: document.getElementById('note_user').value,
                content: document.getElementById('note_name').value
            },
            success: function (response) {
                document.getElementById('request_note').value = response.content;
                document.getElementById('request_note_id').value = response.id;
                $("#request_note_close_btn").trigger("click");
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
        return false;
    });

    // Request Note Modal
    $("#company_guard_modal").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/company_guard_api",
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: document.getElementById('guard_name').value,
                company: document.getElementById('guard_company_id').value,
                nationality: document.getElementById('guard_nationality').value
            },
            success: function (response) {
                document.getElementById('cases_company_guard').value = response.name;
                document.getElementById('cases_company_guard_id').value = response.id;
                $("#company_guard_close_btn").trigger("click");
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
        return false;
    });

    $("#information_form").submit(function (event) {
        event.preventDefault();

        var formData = new FormData();
        formData.append('file_name', $('#information_form_file')[0].files[0]);
        formData.append('uploaded_by', '{{request.user.id}}');
        formData.append('request_id', $('#created_request_id').val());
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        $.ajax({
            url: "/information_form_api",
            type: 'POST',
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                var responseObject = JSON.parse(response);
                var fileName = responseObject.file_name;
                $('#information-form_ul').append(`<li class="" style="cursor:pointer;">File: ${fileName}</li>`);
                console.log(response);

            },
            error: function (error) {
                console.error(error);
            }
        });

        return false;
    });

    $("#attachment_form").submit(function (event) {
        event.preventDefault();

        var formData = new FormData();
        formData.append('file_name', $('#attachment_form_file')[0].files[0]);
        formData.append('uploaded_by', '{{request.user.id}}');
        formData.append('request_id', $('#created_request_id').val());
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        $.ajax({
            url: "/information_form_api",
            type: 'POST',
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                var responseObject = JSON.parse(response);
                var fileName = responseObject.file_name;
                $('#attachment-form_ul').append(`<li class="" style="cursor:pointer;">File: ${fileName}</li>`);
                console.log(response);
            },
            error: function (error) {
                console.error(error);
            }
        });

        return false;
    });





    $(document).ready(function () {
        $('#cases_logCheckbox, #traffic_logCheckbox, #person_idCheckbox').click(function () {
            if ($('#person_idCheckbox').prop("checked") == true) {
                $('#cases_logCheckbox').prop("checked", false);
                $('#traffic_logCheckbox').prop("checked", false);
                $('#pills-role-permission-tab').css("display", "none");
                $('#pills-permission-tab').css("display", "block");

            } else if ($('#cases_logCheckbox').prop("checked") == true) {
                $('#pills-permission-tab').css("display", "none");
                $('#pills-role-permission-tab').css("display", "block");
            } else if ($('#traffic_logCheckbox').prop("checked") == true) {
                $('#pills-permission-tab').css("display", "none");
                $('#pills-role-permission-tab').css("display", "block");
            }
            else {
                $('#pills-permission-tab').css("display", "block");
                $('#pills-role-permission-tab').css("display", "block");
            }
        });
    });

    $(document).ready(function () {
        $("#client-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#client-ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
        $("#duty-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#duty-ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
        $("#request-method-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#request_method_ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
        $("#department-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#department-ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
        $("#request-reason-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#request_reason_ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
        $("#company-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#company-ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
    });

</script>
{% endblock %}