{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Update" %} {% trans "Routine" %}{% endblock %}


{% block content %}

<div class="pt-4">
    <div>
        <div class="py-3" style="background-color: white; padding-bottom: 60px !important; border-radius: 18px;">
            <h2 class="container-fluid" style="color: #0A1629;font-size: 24px; font-weight: 700; line-height: normal;">
                {% trans "Update" %} {% trans "Routine" %}</h2>
            <hr>

            <form action="/update_routine/{{ routine.id }}/" method="post" class="container-fluid mt-4">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="shift_name" class="form-label pb-1">{% trans "Shift" %}:</label>

                            <div class="dropdown">
                                <input type="text" class="form-control py-2" id="shift_name"
                                    value="{{routine.shift.name}}" name="shift_name" placeholder="Select Shift"
                                    style="border-radius: 13px; background: transparent;" required readonly>
                                {% comment %} <svg class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" xmlns="http://www.w3.org/2000/svg"
                                    width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    style="position: absolute; {% if LANGUAGE_CODE == 'ar' %}left: 6px; {% else %}right: 6px; {% endif %} top: 7px; cursor: pointer;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M20.8839 11.6161C21.3345 12.0667 21.3692 12.7758 20.9879 13.2661L20.8839 13.3839L15.8839 18.3839C15.4333 18.8345 14.7242 18.8692 14.2339 18.4879L14.1161 18.3839L9.11611 13.3839C8.62796 12.8957 8.62796 12.1043 9.11611 11.6161C9.56672 11.1655 10.2758 11.1308 10.7661 11.5121L10.8839 11.6161L15 15.7312L19.1161 11.6161C19.5667 11.1655 20.2758 11.1308 20.7661 11.5121L20.8839 11.6161Z"
                                        fill="#0A1629" />
                                </svg> {% endcomment %}
                                <ul id="employee-ul" class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton">
                                    <input class="w-100 dropdown-item" type="text" id="employee-Input"
                                        placeholder="{% trans 'Search' %}"
                                        style="padding: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border: 1px solid #ced4da;">
                                    {% for shift in shifts %}
                                    <li class="dropdown-item" style="cursor: pointer;"
                                        onclick="updateInput('{{shift.name}}', 'shift_name', 'edited_shift_id', '{{shift.id}}')">
                                        {{shift.name}}
                                    </li>
                                    {% endfor %}

                                    <input value="{{routine.shift.id}}" type="hidden" id="edited_shift_id"
                                        name="edited_shift_id">
                                </ul>
                            </div>


                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="edited_routine_start_time" class="form-label pb-1">{% trans "Routine" %} {% trans 'Start Time' %}:</label>
                            <input value="{{formatted_start_time}}" type="time" class="form-control py-2"
                                id="edited_routine_start_time" name="edited_routine_start_time" placeholder=""
                                style="border-radius: 13px;" required>
                                <small class="form-label" style="font-size: 13px !important;">Start Time: {{formatted_start_time}}</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                        <label for="edited_routine_break_time" class="form-label pb-1">{% trans 'Break Duration'%} - HH:MM:SS:</label>
                        <input value="{% if routine.break_time %} {{routine.break_time}}{% endif %}" type="text" class="form-control py-2" id="edited_routine_break_time" name="edited_routine_break_time" placeholder="HH:MM:SS" style="border-radius: 13px;">
                        <p id="break_time_error" class="error text-danger">{% trans 'Break duration cannot be more than the difference between start time and end time.' %}</p>
                                            </div>
                                        </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="edited_routine_end_time" class="form-label pb-1">{% trans "Routine" %} {% trans 'End Time' %}:</label>
                            <input value="{{formatted_end_time}}" type="time" class="form-control py-2"
                                id="edited_routine_end_time" name="edited_routine_end_time" placeholder=""
                                style="border-radius: 13px;" required>
                                <small class="form-label" style="font-size: 13px !important;">End Time: {{formatted_end_time}}</small>
                        </div>
                    </div>
                </div>

                <div>
                    {% for error_message in error_messages %}
                    <p class="text-bold" style="font-weight: bold; color: red;">{{ error_message }}</p>
                    {% endfor %}

                    {% for success_message in success_messages %}
                    <p class="text-bold" style="font-weight: bold; color: green;">{{ success_message }}</p>
                    {% endfor %}
                </div>

                <div class="button" style="padding-top: 5rem;">
                    <input data-bs-toggle="modal" data-bs-target="#submitModal" class="btn btn-primary" type="button"
                        value="{% trans 'Save' %}"
                        style="width: 158px; height: 44px; border-radius: 16px; background-color: #4365D0; box-shadow: 0px 6px 12px 0px #3F8CFF43;">
                </div>

                <!-- Confirmation Popup -->
                <div id="submitSucessModal">
                    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Confirmation Message' %}
                                    </h5>
                                    <button type="button" class="btn-close {% if LANGUAGE_CODE == 'ar' %}m-0 {% endif %}"  data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <p> {% trans "Are You Sure Want to Submit this?" %}</p>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">{% trans 'Close' %}</button>
                                    <button type="submit" class="btn btn-primary" id="submitReview">{% trans 'Save' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <script>
                function updateInput(role, first_input, second_input, id) {
                    document.getElementById(first_input).value = role;
                    document.getElementById(second_input).value = id;
                }




            </script>
            {% comment %} {%block script%}
            console.log($("div"))
            $(document).ready(function () {

            });
            {%endblock%} {% endcomment %}
        </div>
    </div>
</div>

</div>
{% endblock %}


{% block script %}

<script>
    $(document).ready(function () {
        $("#employee-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#employee-ul li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                console.log($(this).toggle($(this).text().toLowerCase().indexOf(value) > -1))
            });
        });
    });

    $(document).ready(function () {
        $('#edited_routine_break_time').on('input', function () {
            var startTime = $('#edited_routine_start_time').val();
            var endTime = $('#edited_routine_end_time').val();
            var breakTime = $(this).val();

            if (startTime && endTime && breakTime) {
                var startMillis = timeToMillis(startTime);
                var endMillis = timeToMillis(endTime);
                var breakMillis = durationToMillis(breakTime);

                if (breakMillis > (endMillis - startMillis)) {
                    $('#break_time_error').show();
                } else {
                    $('#break_time_error').hide();
                }
            }
        });

        function timeToMillis(time) {
            var parts = time.split(':');
            var hours = parseInt(parts[0]);
            var minutes = parseInt(parts[1]);

            if (time.includes("PM") && hours !== 12) {
                hours += 12;
            }

            return (hours * 60 * 60 * 1000) + (minutes * 60 * 1000);
        }

        function durationToMillis(duration) {
            var parts = duration.split(':');
            var hours = parseInt(parts[0]);
            var minutes = parseInt(parts[1]);
            var seconds = parseInt(parts[2]);

            return (hours * 60 * 60 * 1000) + (minutes * 60 * 1000) + (seconds * 1000);
        }
    });

</script>

{% endblock %}